version: '3.8'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.0
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    command: start-dev
    volumes:
      - ./keycloak-data:/opt/keycloak/data

  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"

  config-service:
    build: ./config-service
    ports:
      - "8888:8888"
    depends_on:
      - discovery-service

  gateway-service:
    build: ./gateway-service
    ports:
      - "8888:8888"
    depends_on:
      - discovery-service
      - config-service

  keynote-service:
    build: ./keynote-service
    depends_on:
      - discovery-service
      - config-service

  conference-service:
    build: ./conference-service
    depends_on:
      - discovery-service
      - config-service
